.link {
    text-decoration: none;

    cursor: pointer;
    transition: all ease .2s;

    &:hover {
        transform: scale(1.1);
    }
}


.bookItem {
    min-width: 320px;
    min-height: 200px;

    max-width: 320px;
    max-height: 200px;

    border: 1px solid var(--darker-gray-10);
    border-radius: 4px;
    background-color: var(--lighter-gray);

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 10px;
}

.bookItem figure {
    min-width: 120px;
    min-height: 180px;
    
    max-width: 120px;
    max-height: 180px;

    overflow: hidden;
    box-shadow: 0px 4px 8px 0px var(--my-blue-20);
}

.bookItem figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bookInfo div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 0;
}

.bookInfo div h3 {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    color: var(--my-black);
}

.bookInfo div h4 {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    color: var(--darker-gray-60);
}

.priceText {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

    color: var(--my-blue);
}